{% extends 'base.html' %} {% load static %} {% block content %}
<body> 
    <div>Tank Pics</div>
    <div class="col">
        <!-- Button trigger modal -->
        <a href="/upload/" class="button"><button class="pixel">Upload a tank pic</button></a>
  
    {% for image in images %} 
            <div> 
                {{ image.title }} 
                <img src="{{ image.image.url }}" class="img-responsive" style="width: 80%; float: center; margin-right: 10px;" /> 
            </div> 
    {% endfor %} 
  
</body> 

{% endblock %}