{% extends 'header.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h4>Welcome </h4>
    <div class='row bg-dark text-white pt-5 pb-5 px-2'>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <h5 class="card-title">{{ user.username }}</h5>
            <div class="card-footer">
                {% csrf_token %}
                {{ form.as_p }}
                    <button type="button" class="btn btn-primary btn-block" style="width:90%">
                    </button>
                    </div>
                    </button>
                
            </form>
            </div>
       
    </div>
    </div>
</div>
{% endblock %}