{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}


<div class="video-background-holder">
    <div class="video-background-overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="{% static 'images/fish_swimming_in_tank.mp4/' %}" type="video/mp4">
    </video>
    <div class="video-background-content container h-100">



<div class="row py-5 px-5">
    
    <div class="col-xl-4 col-md-6 col-sm-10 mx-auto ">

        <!-- Profile widget -->
            <div class="px-4 pt-0 pb-4 bg-dark-dark"><br>
                <div class="media align-items-center profile-header">
                    <div class="profile mr-3"><img src="{% static 'images/aquaagoralogo.png' %}" alt="{% static 'images/aquaagoralogo.png' %}" height="200" class="img-fluid bg-transparent"><br><br>
                        <a href="/user_posts/" class="d-flex justify-content-center">GO TO POSTS</a>
                    </div>
                    <div class="media-body mb-0 text-white">
                        <h4 class="mt-0 mb-0">{{ user.username }}</h4>
                        <p class="small mb-4"> <i class=""></i>Joined: {{ user.date_joined }}<br>Email: {{ user.email }}</p>
                        <form action="{% url 'profile_edit' user.id %}" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                                <button type="button" class="btn btn-dark btn-sm btn-block" style="width:90%">
                                    <input class="btn btn-sm text-white text-left" type="submit" value="Edit">
                                </button>
                                <button type="button" class="btn btn-dark text-white btn-block mr-2" style="width: 90%;"><div class="card-action">
                                    <a class="text-white" onclick="return confirm('Are you sure you want to delete your account?')" href="{% url 'profile_delete' user.id %}">Delete</a>
                                </div>
                                </button>
                            
                        </form>
                    </div>
                </div>
            </div>
                
                </div>
            </div>
        </div><!-- End profile widget -->

    </div>
</div>
</div>
</div>
{% else %}







<div class="container mt-5">
    <h2>Please login to view your profile</h2>
</div>
{% endif %}



{% endblock %}
